*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.card {
    background-color: #1d5fac7e;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.card-body{
    padding: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-detail {
    flex: 1;
    margin: 0;
    text-align: left;
    color: white;
    align-self: flex-start;
}

.photo{
    width: 100px;
    height: 150px;
    border-radius: 20%;
    overflow: hidden;
    margin-right: 20px;
}


.content-body{
    margin-top: 20px;
    color: white;
}

.content-body p{
    font-size: 18px;
    margin-bottom: 20px;
}

.content-body p a{
    color: #1d5fac;
    text-decoration: none;
}